@model IEnumerable<LastraJulian_LPPA_Parcial1.Models.Afiliados>

@{
    ViewBag.Title = "Afiliados";
}

<!DOCTYPE html>
<html>
<head>
    <img src=https://www.reclamosargentina.com/wp-content/uploads/2019/06/swiss-medical-argentina-reclamos-telefono.jpg style="width:150px;height:75px;"></img>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwissMedicos</title>
    <div class="headerLinks">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Afiliados", "Afiliados", "Afiliados")
    </div>
</head>
<body>

    <h2> Afiliados de SwissMedicos</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUIT)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CUIT)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                </td>
            </tr>
         }

    </table>

    <div class="container body-content">
        <footer>
            <p> Lastra Julian Marcos - Parcial N1 LPPA </p>
        </footer>
    </div>
</body>
</html>
